# This file is for settings.

# ---------------------------------------------
# Docker settings
# ---------------------------------------------

# If you want to set the uid and gid of the app user that we use in the
# containers, you can do that with these two variables.
# SOCORRO_UID=
# SOCORRO_GID=
